header
  .bg-light
    .container
      .d-flex.justify-content-between.align-items-center
        .d-md-flex.justify-content-between.align-items-center.d-none
          .header__button.header__button-icon.p-2
            a(href='#')
              include ../../../assets/images/svg/facebook-f.svg
          .header__button.header__button-icon.p-2
            a(href='#')
              include ../../../assets/images/svg/google-plus-g.svg
          .header__button.header__button-icon.p-2
            a(href='#')
              include ../../../assets/images/svg/instagram.svg
          .header__button.header__button-icon.p-2
            a(href='#')
              include ../../../assets/images/svg/twitter.svg

        .d-flex.mx-md-0.mx-auto
          .header__button.p-2.px-3
            a.fw-bold.text-dark(href='#') Đăng ký
          .header__button.p-2.px-3
            a.fw-bold.text-dark(href='#') Đăng nhập

  .header__logo.container.d-flex.justify-content-between.align-items-center.p-.flex-md-row.flex-column
    a.navbar-brand(href='/')
      img.logo(src='/assets/images/logo.png' alt='Logo')

    .d-flex.justify-content-center.align-items-center
      .header__logo-hotline.pe-5.d-lg-block.d-none
        .header__logo-hotline-title.fw-bold.text-uppercase Hotline : 
        a.text-decoration-none.text-dark(href='#') (04) 9500 9650 - (04) 9500 8850
      .header__logo-hotline.pe-5.d-lg-block.d-none
        .header__logo-hotline-title.fw-bold.text-uppercase Đặt hàng nhanh :
        a.text-decoration-none.text-dark(href='#') (04) 9500 9650 - (04) 9500 8850
      .search
        input.search__input(type="text" placeholder="Tìm kiếm...")
        .search__button
          include ../../../assets/images/svg/magnifying-glass-solid.svg



  nav.navbar.navbar-expand-lg.navbar-light.p-0.nav__container
    .container
      button.btn-warning.border.border-warning.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
        include ../../../assets/images/svg/list.svg

      .nav-cart.p-4.d-lg-none.d-block
        a(href='#')
          svg(width='25' fill='currentColor' class='bi bi-cart-dash-fill' viewBox='0 0 16 16')
            path(d='M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z')
          .cart_count.rounded-circle.p-1.px-2.text-light 00

      .collapse.navbar-collapse#navbarCollapse.justify-content-start.justify-content-lg-start
        ul.navbar-nav.mr-auto.mb-0.text-center.text-lg-left
          li.nav-item.nav__list
            a.nav-link.link-light.text-light.p-4.text-uppercase(href='/') Trang chủ
          li.nav-item.nav__list
            a.nav-link.link-light.text-light.p-4.text-uppercase(href='#') Giới thiệu
          li.nav-item.nav__list
            a.nav-link.link-light.text-light.p-4.text-uppercase(href='#') Sản phẩm
          li.nav-item.nav__list
            a.nav-link.link-light.text-light.p-4.text-uppercase(href='#') Tin khuyến mại
          li.nav-item.nav__list
            a.nav-link.link-light.text-light.p-4.text-uppercase(href='#') Dịch vụ
          li.nav-item.nav__list
            a.nav-link.link-light.text-light.p-4.text-uppercase(href='#') Liên hệ

      .nav-cart.p-4.d-lg-block.d-none
        a(href='#')
          svg(width='25' fill='currentColor' class='bi bi-cart-dash-fill' viewBox='0 0 16 16')
            path(d='M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z')
          .cart_count.rounded-circle.p-1.px-2.text-light 00


