mixin doubleButton(button)
  .double__button.mb-2
    if button[0].title !== ''
      a.p-2.double__button__text.btn.btn-warning.text-light.text-uppercase(href=button[0].href)= button[0].title
    if button[1].title !== ''
      a.p-2.double__button__text.btn.btn-dark.text-.text-uppercase.ms-3(href=button[1].href)= button[1].title
