mixin horizontalProduct(price, image, title, content)
  .card.text-center.align-items-center.border.d-flex.flex-sm-row.flex-column.p-1.px-2
    img.card-img-top.w-sm-25.w-75(src=image, alt="Card image cap")
    .card-body.text-start
      h2.fs-6.fw-bold.card-titleCard.text-uppercase=title
      p.card-text.mb-1
        each index in [1, 2, 3, 4, 5]
          img.me-1(src="../../../assets/images/svg/star-fill.svg" alt="star")
        | (12 đánh giá)
      p=content
      p.px-0.text-danger.fw-bold=price
        span Đ
      +doubleButton('Mua ngay', 'Xem chi tiết')
