header {
  .header__button-icon,
  .header__button {
    &:hover {
      background-color: $primary-color;
    }
  }

  .header__button {
    border-right: 1px solid gainsboro;

    a {
      text-decoration: none;
    }

    &:first-child {
      border-left: 1px solid gainsboro;
    }
  }

  .header__button-icon {
    &:first-child {
      background-color: $primary-color;
    }
  }

  .header__logo-hotline {
    .header__logo-hotline-title {
      color: $primary-color;
    }
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
  }

  .search__input {
    font-size: 14px;
    border: 1px solid #b4b4b4;
    color: #646464;
    padding: 0.7rem 1.2rem;
    padding-right: 40px;
    border-radius: 30px;
    width: 15em;
    transition: all ease-in-out 0.5s;
    @media all and (max-width: 992px) {
      width: 20em;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 1em #fdf5f56c;
    }

    &:focus {
      outline: none;
      background-color: #f0eeee;
    }
  }

  .search__button {
    border: none;
    position: absolute;
    right: 13px;
    top: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .nav__container {
    background-color: #202020;

    .nav__list {
      &:first-child,
      &:hover {
        background-color: $primary-color;
      }

      &:first-child {
        border-left: 1px solid rgb(75, 72, 72);
      }

      border-right: 1px solid rgb(75, 72, 72);
    }

    @media all and (max-width: 992px) {
      .nav__list {
        border: none;
      }
    }
  }

  .nav-cart {
    border-left: 1px solid rgb(75, 72, 72);
    border-right: 1px solid rgb(75, 72, 72);
    position: relative;
    svg {
      color: white;
    }

    .cart_count {
      position: absolute;
      top: 7px;
      right: 4px;
      background-color: $primary-color;
    }
  }
}
