- var banners = [ { icon: 'airplane-fill.svg', title: 'Miễn phí vận chuyển', content: 'Chúng tôi vận chuyển miễn phí với đơn hàng trị giá trên 1.000.000 đ.', }, { icon: 'arrow-repeat.svg', title: 'Chính sách đổi trả', content: 'Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên.', }, { icon: 'gift-fill.svg', title: 'Khuyến mãi hàng tuần', content: 'Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn.', }, { icon: 'hand-thumbs-up-fill.svg', title: 'Cam kết chính hãng', content: 'Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm.', }, ];

.banner.mt-5
  .container
    .row.w-100.mx-auto
      .col-lg-7.col-xl-8.p-0
        div#carouselExampleCaptions.carousel.slide.h-100(data-bs-ride="carousel")
          div.carousel-indicators
            button.p-1.px-0.bg-dark(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
            button.p-1.px-0.bg-dark(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2")
            button.p-1.px-0.bg-dark(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3")

          div.carousel-inner.h-100
            div.carousel-item.active.h-100(data-bs-interval="1000")
              img.d-block.w-100.h-100(src='../../../assets/images/png/SLIDER1.png')

            div.carousel-item.h-100(data-bs-interval="1000")
              img.d-block.w-100.h-100(src="../../../assets/images/png/SLIDER1.png")

            div.carousel-item.h-100(data-bs-interval="1000")
              img.d-block.w-100.h-100(src="../../../assets/images/png/SLIDER1.png")

      .col-lg-5.col-xl-4.p-0.d-flex.flex-column.position-relative
        each val in banners
          .banner__container.d-flex.justify-content-lg-center.justify-content-start.align-items-center.p-2.border.border-warning.position-relative.h-100
            .px-3
              img(src=`../../../assets/images/svg/${val.icon}` class='icon-image')
            .banner__content
              h3.fs-6= val.title
              p= val.content
